@using JustBlog.ViewModels.Posts
@model IEnumerable<PostViewModel>

<div class="col-lg-8 col-md-10 mx-auto">
    @foreach (var item in Model)
    {
        var url = $"/post/{item.CreatedOn.Year}/{item.CreatedOn.Month.ToString("00")}/{item.UrlSlug}";
        <div class="post-preview">
        <a href="@url">
            <h2 class="post-title">
                @item.Title
            </h2>
        </a>
        <p class="post-meta">
            <span>
                Posted on @item.CreatedOn
            </span>
            <span>
                with @item.ViewCount (views)
            </span>
        </p>
        <h3 class="post-desciption-short">
            @item.ShortDescription
        </h3>
        <hr />
    </div>
    }
</div>
