@using JustBlog.ViewModels.Posts
@model CreatePostViewModel

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var categories = TempData["Categories"] as IEnumerable<JustBlog.ViewModels.Categories.CategoryViewModel>; }

@section Scripts {
    <script src="@Url.Content("~/Areas/Admin/Assets/js_custom/UrlHelper.js")"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}


<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">CREATE NEW POST</h3>
        </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
        <!--begin::Form-->
        <form action="/admin/post/create" method="post" id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
            <!--begin::Card body-->
            <div class="card-body border-top p-9">
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    @Html.LabelFor(p => p.Title, new { @class = "col-lg-4 col-form-label required fw-bold fs-6" })
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                @Html.TextBoxFor(p => p.Title, new { @class = "form-control form-control-lg form-control-solid mb-3 mb-lg-0", placeholder = "Title", onchange = "changeUrl('Title','UrlSlug')" })
                                @*<div class="fv-plugins-message-container invalid-feedback"></div>*@
                                @Html.ValidationMessageFor(p => p.Title, null, new { @class = "fv-plugins-message-container invalid-feedback" })
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    @Html.LabelFor(p => p.UrlSlug, new { @class = "col-lg-4 col-form-label required fw-bold fs-6" })
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                @Html.TextBoxFor(p => p.UrlSlug, new { @class = "form-control form-control-lg form-control-solid mb-3 mb-lg-0", placeholder = "Link Url", @readonly = true })
                                @Html.ValidationMessageFor(p => p.UrlSlug, null, new { @class = "fv-plugins-message-container invalid-feedback" })
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    @Html.LabelFor(p => p.CategoryId, new { @class = "col-lg-4 col-form-label required fw-bold fs-6" })
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <select name="@nameof(Model.CategoryId)" class="form-select form-select-solid" aria-label="Select">
                                    <option disabled>Choose category</option>
                                    @foreach (var category in categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(p => p.CategoryId, null, new { @class = "fv-plugins-message-container invalid-feedback" })
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    @Html.LabelFor(p => p.ShortDescription, new { @class = "col-lg-4 col-form-label required fw-bold fs-6" })
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8 fv-row fv-plugins-icon-container">
                        @Html.TextAreaFor(p => p.ShortDescription, new { @class = "form-control form-control-lg form-control-solid", rows = 3, placeholder = "Description" })
                        @Html.ValidationMessageFor(p => p.ShortDescription, null, new { @class = "fv-plugins-message-container invalid-feedback" })
                    </div>
                </div>
                <!--end::Col-->

                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">
                        <span class="required">Tags</span>
                        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="Split tag by ( , ) " aria-label="Split tag by ( , ) "></i>
                    </label>
                    <div class="col-lg-8 fv-row fv-plugins-icon-container">
                        @Html.TextBoxFor(p => p.Tags, new { @class = "form-control form-control-lg form-control-solid mb-3 mb-lg-0", placeholder = "Tags" })
                        @Html.ValidationMessageFor(p => p.Tags, null, new { @class = "fv-plugins-message-container invalid-feedback" })
                    </div>
                </div>

                <div class="row mb-6">
                    @Html.LabelFor(p => p.PostContent, new { @class = "col-lg-4 col-form-label required fw-bold fs-6" })
                    <div class="col-lg-8 fv-row fv-plugins-icon-container">
                        @Html.TextAreaFor(p => p.PostContent, new { @class = "form-control form-control-lg form-control-solid", id = "editor", rows = 10 })

                        @Html.ValidationMessageFor(p => p.PostContent, null, new { @class = "fv-plugins-message-container invalid-feedback" })
                    </div>
                </div>


            </div>

            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Create</button>
            </div>
            <input type="hidden"><div></div>
        </form>
        <!--end::Form-->
    </div>
</div>
