@using JustBlog.ViewModels.Posts
@model IEnumerable<PostViewModel>


@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <header class="masthead" style="background-image: url('/Assets/img/post-sample-image.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>@ViewBag.CategoryName</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
}

<div class="col-lg-8 col-md-10 mx-auto">
    @foreach (var item in Model)
    {
        var url = $"/post/{item.CreatedOn.Year}/{item.CreatedOn.Month.ToString("00")}/{item.UrlSlug}";
        <div class="post-preview">
            @*<a href="@Url.Action("Detail", "Post", new { @year = item.PostedOn.Year, month = item.PostedOn.Month.ToString("00"), title = item.UrlSlug })" )>
                    <h2 class="post-title">
                        @item.Title
                    </h2>
                </a>*@
            <a href="@url">
                <h2 class="post-title">
                    @item.Title
                </h2>
            </a>
            <p class="post-meta">
                <span>
                    Posted on @item.CreatedOn
                </span>
                <span>
                    By @item.ViewCount (views)
                </span>
            </p>
            <h3 class="post-desciption-short">
                @item.ShortDescription
            </h3>
            <hr />
        </div>
    }
</div>
