@using JustBlog.Models.Entities
@model IEnumerable<Post>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <header class="masthead" style="background-image: url('/Assets/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                       
                    </div>
                </div>
            </div>
        </div>
    </header>
}

<div class="col-lg-8 col-md-10 mx-auto">
    @foreach (var item in Model)
    {
        <div class="post-preview">

            <a href="@Url.Action("Details", "Post", new { @year = item.PostedOn.Year, month = item.PostedOn.Month.ToString("00"), title = item.UrlSlug })" )>
                <h2 class="post-title">
                    @item.Title
                </h2>
            </a>
            <p class="post-meta">
                <span>
                    Posted on @item.PostedOn
                </span>
                @{
                    decimal cal = 0;
                    if (item.RateCount != 0)
                    {
                        cal = (decimal)item.TotalRate / item.RateCount;

                    }
                    <span>with rate @cal </span>
                }
                <span>
                    By @item.ViewCount (views)
                </span>
            </p>
            <h3 class="post-desciption-short">
                @item.ShortDescription
            </h3>
            <hr />
        </div>
    }
</div>
